.co{font-size: 15px;}
.body{padding-top:60px;}


.ko{margin-right: 20px;}


.lo{padding-bottom:60px;}


.mo{padding-top: 80px;}

.po{background-color:#E5B3A8;}

.lp{
  background-color: lightgray;
}
